/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

body {
  max-width: 320px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(54, 54, 54);
}

img {
  max-width: auto;
}

h2, h3, p {
  margin: 15px;
}



.bouton {
  background: rgb(198, 28, 28);
  color: white;
  border-radius: 50px;
  text-align: center;
}

.menu {
  background: white;
  padding: 15px;
  text-align: center;
}


.recettes {
  background: rgb(144, 158, 143);
  padding: 15px;
}



hr {
  height: 2px;
  background-color: black;
  border: none;
  margin: 15px;
}


footer {
  background: black;
  color: white;
  padding: 15px;
}


nav {
  display: flex;
  background: white;
  margin: 30px;
}

.menu-column1 {
  flex: 2;
  text-align: center;
}

.menu-column2 {
  flex: 2;
  text-align: center;
}

.menu-column3 {
  flex: 2;
  text-align: center;
}




.bloc-1 {
  background: white;
  margin-bottom: 15px;
  text-align: center;
  padding: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(54, 54, 54);
}

.bloc-2 {
  background: white;
  margin-bottom: 15px;
  text-align: center;
  padding: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(54, 54, 54);
}